<form action="/dinosaurs" method="">
  <label for="nameFilter">Filter by name</label>
  <input type="text" name="nameFilter" id="nameFilter" />
  <input type="submit" value="submit" />
</form>

<ul>
  <% dinoData.forEach((dino, index)=>{ %>
  <li>
    <%= dino.name %> is a <%= dino.type %>
    <form action="/dinosaurs/<%= index %>/?_method=DELETE" method="POST">
      <input type="submit" value="Delete" />
    </form>
  </li>
  <% }) %>
</ul>
